Repository faahmad/retro: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint, yarn workspaces run test:precommit, yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx,json,css}": [
    "yarn workspaces run lint",
    "yarn workspaces run test:precommit"
  ]
}

.lintstagedrc.yml:

# admin-tool/src/**/*.{js,jsx,ts,tsx}:
  #   - yarn workspace shogigs-admin run lint
  #   - yarn workspace shogigs-admin run test:precommit
  # admin-tool/src/**/*.{js,jsx,json,html,ts,tsx,css,scss}:
  #   - yarn workspace shogigs-admin run prettier --write
  #   - git add
web/src/**/*.{js,jsx,ts,tsx}:
  - yarn workspace shogigs-web run lint
  - yarn workspace shogigs-web run test:precommit
web/src/**/*.{js,jsx,json,html,ts,tsx,css,scss}:
  - yarn workspace shogigs-web run prettier --write
  # functions/src/**/*.{js,ts}:
  #   - yarn workspace shogigs-functions run lint
  #   - yarn workspace shogigs-functions run test:precommit
  # functions/src/**/*.{js,ts,html,json}:
  #   - yarn workspace shogigs-functions run prettier --write
  #   - git add

Add incognito setting to sidepanel
  web/package.json
  web/src/components/RetroBoard.tsx
  web/src/components/RetroBoardSidePanel.tsx
  web/src/types/retro.ts
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Use NODE_ENV to check environment
  web/functions/src/constants/is-prod.ts
Due: none

Fix the copy on the homepage
  web/src/pages/PainDreamFixLandingPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Fix the copy on the homepage (#261)
  web/src/pages/PainDreamFixLandingPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

update css
  web/src/styles/index.css
  web/src/styles/tailwind.css
  web/tailwind.config.js
Due: yarn workspace shogigs-web run prettier --write

fix text styling on side panel
  web/src/components/RetroBoardSidePanel.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

add retro stage stepper to board
  web/src/components/RetroBoard.tsx
  web/src/components/RetroBoardStageStepper.tsx
  web/src/hooks/use-retro-state.ts
  web/src/types/retro.ts
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

remove questions column from board
  web/src/components/RetroCard.tsx
  web/src/pages/RetroBoardPage.tsx
  web/src/services/create-retro-transaction.ts
  web/src/types/retro-column.ts
  web/src/utils/workspace-utils.ts
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

change a tags to divs
  web/src/components/RetroBoardStageStepper.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Fix workspaceURL secret auth in invite
  web/functions/src/handlers/workspace-invites/on-update/send-invitation-email.ts
Due: none

Fix workspaceURL secret auth in invite (#264)
  web/functions/src/handlers/workspace-invites/on-update/send-invitation-email.ts
Due: none

Presentation mode
  web/database-debug.log
  web/src/components/RetroBoardPresentationMode.tsx
  web/src/components/RetroBoardStageStepper.tsx
  web/src/hooks/use-retro-state.ts
  web/src/pages/RetroBoardPage.tsx
  web/src/types/retro.ts
  web/ui-debug.log
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Post a message in Discord when a retro is created
  web/functions/src/constants/firestore-collections.ts
  web/functions/src/handlers/alert-retro-created.ts
  web/functions/src/types/retro.ts
Due: none

Post a message in Discord when a retro is created (#265)
  web/functions/src/constants/firestore-collections.ts
  web/functions/src/handlers/alert-retro-created.ts
  web/functions/src/types/retro.ts
Due: none

export alertRetroCreated
  web/functions/src/handlers/alert-retro-created.ts
  web/functions/src/handlers/index.ts
Due: none

Display items in presentation mode
  web/src/components/RetroBoardActions.tsx
  web/src/components/RetroBoardPresentationMode.tsx
  web/src/components/RetroBoardStageStepper.tsx
  web/src/hooks/use-retro-state.ts
  web/src/pages/RetroBoardPage.tsx
  web/src/types/retro.ts
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Pair programming with Rawaha, added copy link button
  web/database-debug.log
  web/src/components/RetroBoardActions.tsx
  web/src/pages/RetroBoardPage.tsx
  web/src/styles/amazingFix.css
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Pair programming with Rawaha, added route to unauthed routes that will lead to AnonAuthLoginPage
  web/src/AppRoutes.tsx
  web/src/pages/AnonAuthLoginPage.tsx
  web/src/pages/LoginPage.tsx
  web/src/pages/RetroBoardPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

remove isAdmin function from firestore.rules
  web/firestore.rules
Due: none

Pair programming with Rawaha, add anon join workspace transaction to services directory, working on debugging workspace query
  web/database-debug.log
  web/src/components/RetroBoardActions.tsx
  web/src/pages/AnonAuthLoginPage.tsx
  web/src/services/anon-join-workspace-transaction.ts
  web/src/styles/amazingFix.css
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

track when stage is changed
  web/database-debug.log
  web/src/components/RetroBoardStageStepper.tsx
  web/src/hooks/use-analytics-event.ts
  web/src/hooks/use-retro-state.ts
  web/src/pages/DashboardPage.tsx
  web/src/pages/RetroBoardPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Remove irrelevant comment
  web/src/components/RetroBoardPresentationMode.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Create presentation mode to discuss retro items (#267)
  web/database-debug.log
  web/functions/src/handlers/alert-retro-created.ts
  web/functions/src/handlers/index.ts
  web/src/components/RetroBoardActions.tsx
  web/src/components/RetroBoardPresentationMode.tsx
  web/src/components/RetroBoardStageStepper.tsx
  web/src/hooks/use-analytics-event.ts
  web/src/hooks/use-retro-state.ts
  web/src/pages/DashboardPage.tsx
  web/src/pages/RetroBoardPage.tsx
  web/src/types/retro.ts
  web/ui-debug.log
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Replace magic link auth with email password auth
  web/src/AppRoutes.tsx
  web/src/pages/JoinWorkspacePage.tsx
  web/src/pages/LoginPage.tsx
  web/src/pages/MagicLinkPage.tsx
  web/src/pages/OnboardingPage.tsx
  web/src/pages/SignupPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Only hide items during Brainstorm stage
  web/src/components/RetroBoard.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Only hide items during Brainstorm stage (#270)
  web/src/components/RetroBoard.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Replace magic link auth with email password auth (#269)
  web/src/AppRoutes.tsx
  web/src/pages/JoinWorkspacePage.tsx
  web/src/pages/LoginPage.tsx
  web/src/pages/MagicLinkPage.tsx
  web/src/pages/OnboardingPage.tsx
  web/src/pages/SignupPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Owner can change workspace user's role
  web/firestore.rules
  web/src/components/Modal.tsx
  web/src/hooks/use-remove-workspace-user.ts
  web/src/hooks/use-update-workspace-user.ts
  web/src/pages/SettingsPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Owner should be able to remove a workspace user
  web/firestore.rules
  web/src/hooks/use-remove-workspace-user.ts
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Allow workspace owners to manage the users in their workspace (#272)
  web/firestore.rules
  web/src/components/Modal.tsx
  web/src/hooks/use-remove-workspace-user.ts
  web/src/hooks/use-update-workspace-user.ts
  web/src/pages/SettingsPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

debug
  web/database-debug.log
Due: none

Completed anon login, pairing with Faraz
  web/database-debug.log
  web/src/pages/AnonAuthLoginPage.tsx
  web/ui-debug.log
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

"merge"
  web/database-debug.log
Due: none

update typescript defs
  web/functions/src/types/workspace.ts
  web/src/types/user.ts
  web/src/types/workspace-invite.ts
  web/src/types/workspace-user.ts
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

remove console.log statement
  web/src/pages/WorkspaceListPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

create user document on anon signup page
  web/src/pages/AnonAuthLoginPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

create cloud function to update user doc
  web/functions/src/handlers/add-workspace-to-user.ts
  web/functions/src/handlers/index.ts
Due: none

fix loading state when no invites exist
  web/src/hooks/use-get-workspace-invites-by-email.ts
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

move users table to settings page
  web/src/components/WorkspaceUsersTable.tsx
  web/src/pages/DashboardPage.tsx
  web/src/pages/RetroBoardPage.tsx
  web/src/pages/SettingsPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Fix styles of copy link
  web/database-debug.log
  web/src/components/RetroBoardActions.tsx
  web/src/components/RetroBoardSidePanel.tsx
  web/src/pages/AnonAuthLoginPage.tsx
  web/ui-debug.log
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write
