Repository faahmad/retro: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint, yarn workspaces run test:precommit, yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx,json,css}": [
    "yarn workspaces run lint",
    "yarn workspaces run test:precommit"
  ]
}

.lintstagedrc.yml:

# admin-tool/src/**/*.{js,jsx,ts,tsx}:
  #   - yarn workspace shogigs-admin run lint
  #   - yarn workspace shogigs-admin run test:precommit
  # admin-tool/src/**/*.{js,jsx,json,html,ts,tsx,css,scss}:
  #   - yarn workspace shogigs-admin run prettier --write
  #   - git add
web/src/**/*.{js,jsx,ts,tsx}:
  - yarn workspace shogigs-web run lint
  - yarn workspace shogigs-web run test:precommit
web/src/**/*.{js,jsx,json,html,ts,tsx,css,scss}:
  - yarn workspace shogigs-web run prettier --write
  # functions/src/**/*.{js,ts}:
  #   - yarn workspace shogigs-functions run lint
  #   - yarn workspace shogigs-functions run test:precommit
  # functions/src/**/*.{js,ts,html,json}:
  #   - yarn workspace shogigs-functions run prettier --write
  #   - git add

remove comment
  firebase-functions/functions/firebase-debug.log
  web/src/AppRoutes.tsx
  web/src/styles/index.css
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Firebase Cloud Functions; Add Workspace to Airtable (#93)
  firebase-functions/functions/firebase-debug.log
  firebase-functions/functions/package.json
  firebase-functions/functions/src/handlers/auth/index.ts
  firebase-functions/functions/src/handlers/auth/on-create/create-mailjet-contact.ts
  firebase-functions/functions/src/handlers/auth/on-create/create-user.ts
  firebase-functions/functions/src/handlers/auth/on-create/index.ts
  firebase-functions/functions/src/handlers/create-mailjet-contact.ts
  firebase-functions/functions/src/handlers/create-stripe-customer-subscription.ts
  firebase-functions/functions/src/handlers/https/index.ts
  firebase-functions/functions/src/handlers/https/on-request/create-stripe-checkout-session.ts
  firebase-functions/functions/src/handlers/https/on-request/index.ts
  firebase-functions/functions/src/handlers/index.ts
  firebase-functions/functions/src/handlers/workspaces/index.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/add-workspace-to-airtable.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/create-stripe-customer-subscription.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/create-workspace-url.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/create-workspace-users.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/index.ts
  firebase-functions/functions/src/index.ts
  firebase-functions/functions/src/lib/firebase-admin.ts
  firebase-functions/functions/src/lib/logger.ts
  firebase-functions/functions/src/services/firebase-admin.ts
  firebase-functions/functions/src/types/user.ts
  firebase-functions/functions/src/types/workspace.ts
  firebase-functions/functions/yarn.lock
  server/src/services/workspace-service.js
  web/package.json
  web/src/AppRoutes.tsx
  web/src/styles/index.css
  web/yarn.lock
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

use service account vs token
  .github/workflows/deploy-prod.yaml
Due: none

Integrate Stripe Billing Portal so a user can upgrade their subscription (#88)
  firebase-functions/functions/src/handlers/create-stripe-billing-portal-session.ts
  firebase-functions/functions/src/services/stripe.ts
  web/src/components/Navbar.tsx
  web/src/components/UpgradeToProBanner.tsx
  web/src/pages/DashboardPage.tsx
  web/src/pages/SettingsPage.tsx
  web/src/services/stripe.ts
  web/yarn.lock
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

create billing portal function
  firebase-functions/functions/src/handlers/https/on-request/create-stripe-billing-portal-session.ts
  firebase-functions/functions/src/handlers/https/on-request/create-stripe-checkout-session.ts
  firebase-functions/functions/src/handlers/https/on-request/index.ts
Due: none

fixing merge conflicts
  firebase-functions/functions/firebase-debug.log
Due: none

Testing just web
  .github/workflows/deploy-prod.yaml
Due: none

Try explicit path.
  .github/workflows/deploy-prod.yaml
Due: none

Production Pipeline Complete
  .github/workflows/deploy-prod.yaml
Due: none

Update env variables for service account
  server/src/lib/firebase-admin.js
Due: none

Update env variables for service account (#94)
  server/src/lib/firebase-admin.js
Due: none

Testing removing the artifact
  .github/workflows/deploy-prod.yaml
Due: none

Semicolon killer
  web/src/assets/images/add-team-member-image.svg
  web/src/assets/images/dashboard-footer-image.svg
  web/src/assets/images/good-vibes.svg
  web/src/assets/images/google-logo.svg
  web/src/assets/images/how-it-works-analyze-image.svg
  web/src/assets/images/how-it-works-conduct-image.svg
  web/src/assets/images/how-it-works-invite-image.svg
  web/src/assets/images/landing-page-footer.svg
  web/src/assets/images/login-modal-image.svg
  web/src/assets/images/retro-empty-image.svg
  web/src/assets/images/retro-pink-logo.svg
  web/src/assets/images/retro-team.svg
  web/src/assets/images/team-member-empty-image.svg
  web/src/components/UpgradeToProBanner.tsx
  web/src/pages/DashboardPage.tsx
  web/src/pages/SettingsPage.tsx
  web/src/services/stripe.ts
  web/src/styles/index.css
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Remove the Web build step to buy back a couple minutes
  .github/workflows/deploy-prod.yaml
Due: none

create getWorkspace service
  web/src/constants/firestore-collections.ts
  web/src/services/workspace.ts
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

rename files to use proper naming convention
  web/src/components/UpgradeToProBanner.tsx
  web/src/contexts/SubscriptionStatusContext.tsx
  web/src/pages/DashboardPage.tsx
  web/src/pages/RetroBoardPage.tsx
  web/src/services/retro-board-service.ts
  web/src/services/stripe-service.ts
  web/src/services/workspace-service.ts
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

wip getStripeSubscriptionStatus cloud function
  firebase-functions/functions/src/handlers/https/on-request/get-stripe-subscription-status.ts
  firebase-functions/functions/src/services/firebase-admin.ts
  firebase-functions/functions/src/services/stripe.ts
  web/src/contexts/SubscriptionStatusContext.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Making another push to fix icons
  server/src/lib/firebase-admin.js
  web/src/assets/icons/pencil.svg
  web/src/assets/icons/thumbs-up-filled.svg
  web/src/assets/icons/thumbs-up.svg
  web/src/styles/index.css
Due: yarn workspace shogigs-web run prettier --write

Display error message when user is not created
  web/src/AppRoutes.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Add a retrofyed screenshot
  .DS_Store
  web/src/assets/images/screenshot@2x.png
  web/src/assets/images/ui@2x.png
  web/src/pages/LandingPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Forgot' needs command
  .github/workflows/deploy-prod.yaml
Due: none

Comment out deploy to web
  .github/workflows/deploy-prod.yaml
Due: none

Comment out deploy to web (#101)
  .github/workflows/deploy-prod.yaml
Due: none

Uniformity. For what
  .github/workflows/deploy-prod.yaml
Due: none

Wrap app in OptimizelyProvider
  web/src/AppRoutes.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Upgrade @optimizely/react-sdk to latest
  web/package.json
  web/yarn.lock
Due: none

Put sign up behind a feature flag
  web/src/components/JoinWaitlistButton.tsx
  web/src/components/Navbar.tsx
  web/src/constants/feature-flags.ts
  web/src/pages/LandingPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Put sign up behind a feature flag so we can dogfood until we launch (#102)
  web/package.json
  web/src/AppRoutes.tsx
  web/src/components/JoinWaitlistButton.tsx
  web/src/components/Navbar.tsx
  web/src/constants/feature-flags.ts
  web/src/pages/LandingPage.tsx
  web/yarn.lock
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Add SubscriptionStatusContext to the app
  web/src/AppRoutes.tsx
  web/src/contexts/SubscriptionStatusContext.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Get subscription status on the client
  web/src/services/stripe-service.ts
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write

Fix bug in getStripeSubscriptionStatus
  firebase-functions/functions/src/handlers/https/on-request/get-stripe-subscription-status.ts
Due: none

Add .DS_Store to .gitignore
  .gitignore
Due: none

should not be able to change an existing retro
  web/src/pages/RetroBoardPage.tsx
Due: yarn workspace shogigs-web run lint, yarn workspace shogigs-web run test:precommit, yarn workspace shogigs-web run prettier --write
