Repository faahmad/retro: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier, yarn workspace firebase-functions run lint, yarn workspace firebase-functions run test:precommit, yarn workspace firebase-functions run prettier, yarn workspace server run lint, yarn workspace server run test:precommit, yarn workspace server run prettier

testing lint-staged
  .lintstagedrc.yml
  firebase-functions/functions/package.json
  lint-staged.config.js
  server/package.json
  web/package.json
  web/src/lib/axios.ts
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier, yarn workspace firebase-functions run prettier

testing lint staged
  web/src/lib/axios.ts
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier

trying to trigger lint-staged
  web/.eslintrc.js
  web/src/AppRoutes.tsx
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier

again
  web/src/AppRoutes.tsx
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier

more
  web/src/AppRoutes.tsx
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier

Setting up
  .lintstagedrc.yml
  Retro.code-workspace
  lint-staged.config.js
  web/src/AppRoutes.tsx
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier

again
  .lintstagedrc.yml
  web/src/AppRoutes.tsx
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier

testing
  .lintstagedrc.yml
  web/src/AppRoutes.tsx
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier

use json config
  .lintstagedrc.json
  .lintstagedrc.yml
  web/src/AppRoutes.tsx
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier

testing
  .lintstagedrc.json
  web/src/AppRoutes.tsx
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier

regaga
  .lintstagedrc.json
  web/src/AppRoutes.tsx
Due: yarn workspace web run lint, yarn workspace web run test:precommit, yarn workspace web run prettier

Remove lint-staged
  .lintstagedrc.json
  firebase-functions/functions/package.json
  package.json
  server/package.json
  web/package.json
Due: yarn workspace firebase-functions run prettier

remove unused scripts
  firebase-functions/functions/package.json
Due: yarn workspace firebase-functions run prettier

Try and fail
  .github/workflows/deploy.yaml
Due: none

test "Working Directory"
  .github/workflows/deploy.yaml
Due: none

App engine path
  .github/workflows/deploy.yaml
Due: none

version of action
  .github/workflows/deploy.yaml
Due: none

Add my own damn input
  .github/workflows/deploy.yaml
Due: none

directory change
  .github/workflows/deploy.yaml
Due: none

relative path?
  .github/workflows/deploy.yaml
Due: none

delete yarn workspace
  .gitignore
  firebase-functions/functions/yarn-error.log
  firebase-functions/functions/yarn.lock
  package.json
  server/yarn.lock
  web/yarn.lock
  yarn.lock
Due: none

delete yarn workspace (#92)
  .gitignore
  firebase-functions/functions/yarn-error.log
  firebase-functions/functions/yarn.lock
  package.json
  server/yarn.lock
  web/yarn.lock
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

Test server deploy
  .github/workflows/deploy.yaml
  server/.gitignore
  server/app.yaml
Due: none

manually create secret
  .github/workflows/deploy.yaml
Due: none

create createUser function
  firebase-functions/functions/src/handlers/auth/index.ts
  firebase-functions/functions/src/handlers/auth/on-create/create-user.ts
  firebase-functions/functions/src/handlers/auth/on-create/index.ts
  firebase-functions/functions/src/handlers/index.ts
  firebase-functions/functions/src/index.ts
Due: yarn workspace firebase-functions run lint, yarn workspace firebase-functions run test:precommit, yarn workspace firebase-functions run prettier

remove self installed babel-eslint
  web/package.json
  web/yarn.lock
Due: none

make firebase admin require ENVs so we can use in the build pipeline
  server/src/lib/firebase-admin.js
Due: yarn workspace server run lint, yarn workspace server run test:precommit, yarn workspace server run prettier

Make it env specific
  .github/workflows/deploy-prod.yaml
Due: none

Project Path for Firebase funtions
  .github/workflows/deploy-prod.yaml
Due: none

This might be it.
  .github/workflows/deploy-prod.yaml
Due: none

create workspaceUsers when a workspace is created
  firebase-functions/functions/src/handlers/auth/on-create/create-user.ts
  firebase-functions/functions/src/handlers/create-stripe-customer-subscription.ts
  firebase-functions/functions/src/handlers/index.ts
  firebase-functions/functions/src/handlers/workspaces/index.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/create-stripe-customer-subscription.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/create-workspace-users.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/index.ts
  firebase-functions/functions/src/index.ts
  firebase-functions/functions/src/lib/logger.ts
  firebase-functions/functions/src/types/user.ts
  firebase-functions/functions/src/types/workspace.ts
  server/src/services/workspace-service.js
Due: yarn workspace firebase-functions run lint, yarn workspace firebase-functions run test:precommit, yarn workspace firebase-functions run prettier, yarn workspace server run lint, yarn workspace server run test:precommit, yarn workspace server run prettier

Another One!
  .github/workflows/deploy-prod.yaml
Due: none

Create workspace collections on create
  firebase-functions/functions/src/handlers/auth/on-create/create-mailjet-contact.ts
  firebase-functions/functions/src/handlers/auth/on-create/create-user.ts
  firebase-functions/functions/src/handlers/auth/on-create/index.ts
  firebase-functions/functions/src/handlers/create-mailjet-contact.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/create-workspace-url.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/index.ts
  firebase-functions/functions/src/index.ts
  firebase-functions/functions/src/lib/firebase-admin.ts
  firebase-functions/functions/src/services/firebase-admin.ts
Due: yarn workspace firebase-functions run lint, yarn workspace firebase-functions run test:precommit, yarn workspace firebase-functions run prettier

finish reorganizing functions
  firebase-functions/functions/src/handlers/https/index.ts
  firebase-functions/functions/src/handlers/https/on-request/create-stripe-checkout-session.ts
  firebase-functions/functions/src/handlers/https/on-request/index.ts
  firebase-functions/functions/src/handlers/index.ts
  firebase-functions/functions/src/index.ts
Due: yarn workspace firebase-functions run lint, yarn workspace firebase-functions run test:precommit, yarn workspace firebase-functions run prettier

Add workspace data to Airtable
  firebase-functions/functions/package.json
  firebase-functions/functions/src/handlers/workspaces/on-create/add-workspace-to-airtable.ts
  firebase-functions/functions/src/handlers/workspaces/on-create/index.ts
  firebase-functions/functions/yarn.lock
Due: yarn workspace firebase-functions run lint, yarn workspace firebase-functions run test:precommit, yarn workspace firebase-functions run prettier

Path conditions:
  yarn workspace web run lint: any of: web/src/**/*.{js,jsx,ts,tsx}
  yarn workspace web run test:precommit: any of: web/src/**/*.{js,jsx,ts,tsx}
  yarn workspace web run prettier: any of: web/src/**/*.{js,jsx,json,html,ts,tsx,css}
  yarn workspace firebase-functions run lint: any of: firebase-functions/functions/**/*.{js,ts}
  yarn workspace firebase-functions run test:precommit: any of: firebase-functions/functions/**/*.{js,ts}
  yarn workspace firebase-functions run prettier: any of: firebase-functions/functions/**/*.{js,ts,json}
  yarn workspace server run lint: any of: server/src/**/*.{js,ts}
  yarn workspace server run test:precommit: any of: server/src/**/*.{js,ts}
  yarn workspace server run prettier: any of: server/src/**/*.{js,ts,json}
